/* my custom styling mobile first: */
html {background-image: url(../img/rice.png)}
body {background-image: url(../img/rice.png)}

p {padding: 1rem; line-height: 1.4;}

footer {
   background-color: green; color: yellow;
   font-family: 'Raleway','sans-serif';
   border-top: 2px yellow solid;
   border-bottom: 2px yellow solid;
   margin-bottom: 1rem;
   box-shadow: 1px 6px 8px #222;
}
.h4, h4 {font-size: 1rem; text-align: center;}
/*-----------------------------------------------------------------*/
a:link {
   color: orange; padding: 1rem;
   font-family: 'Red Rose', 'cursive';
}
a:visited {color: darkgoldenrod;}

a:hover {color: yellow}

a:active {color: coral;}

.navbar-dark .navbar-nav .nav-link{
   font-size: calc(.8em + 1vw);
   padding: calc(.25rem + 1vw);
   text-decoration: none;
   color: yellow;
   margin: 0 5px 0 0;
   position: relative;
}
.navbar-dark .navbar-nav .nav-link:before {
   position: absolute; top: 75%; left: 0;
   width: 100%; height: 1px; align-content: center;
   background-color: yellow;
   content: ''; opacity: 0;
   transform: translateY(1px);
   transition-property: opacity;
   transition-duration: .2s;
}
 .navbar-dark .navbar-nav .nav-link:hover:before {
   transform: translateY(0); opacity: 1;
}
.navbar-collapse {
   background-color:#197b30;
   padding: 20px 70px 0 70px; margin-top: -72px;
   text-align: center;
}

/*-----------------------------------------------------------------*/
.navbar {box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);}
.headlogo {
   width: 210px; z-index: 1;
   position: relative;
   top: 21px; left: -20px;
}
.bg-dark {
   background-image: url(../img/wood-banner.jpg)!important; 
   background-color: transparent;
   top: -40px; height: 165px; width: 100%;
   z-index: 1; position: relative;
}
.col-lg-8 h2, h3 {
   padding: .85rem 0 .25rem .85rem;
   background-image: url(../img/ricepaper.png);
   background-repeat: none;
   border-bottom: orange 2px solid;
   font-family: 'Raleway', 'sans-serif';
   color: #f5f5f5;
}
section {margin-bottom: 1rem; background-color: #f5f5f5;}

.col-lg-4 {
   background-color:#f5f5f5; 
   padding: 0; margin-bottom: 1rem;
}
.col-lg-4 h3 {padding: .85rem 0 .25rem .85rem;}

.col-lg-4 h4 {padding: 1rem; border-bottom: orange solid 1px; margin: .4em;}

.img-half {width: 100%; padding: .5em; background-color: #f5f5f5!important;}

.col-lg-3 {margin-top: .5em; text-align: right;}

p {padding: .5em; margin: 15px; font-size: calc(.5em + 1vw);}
/*-----------------------------------------------------*/
#js-swap {background-color:#f5f5f5; margin: 0; text-align: center;}
#details img {padding: 1em;}
/*-----------------------------------------------------*/
@media screen and (min-width: 483px) {
   .navbar-dark .navbar-nav .nav-link{
      font-size: calc(.5em + 1vw);
   }
}
@media screen and (min-width: 768px) {
   .navbar-collapse {
      background-color:rgba(0, 0, 0, 0);
      padding: 10px; margin-top: 109px;
   }
   .headlogo {
      width: 210px;
      z-index: 1;
      position: relative;
      top: 39px;
      left: -10px;
  }
   footer {
      background-color: none; padding-left: 4rem;
   }
   .navbar-dark .navbar-nav .nav-link{
      font-size: calc(.5em + 1vw);
   }
}